// style for modal
.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}


.modalContent {
  position: absolute;
  width: 326px;
  height: 330px;
  background: url('/assets/stage/play_character_frame 1.png') no-repeat center center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-size: 100%;
}

.closeButton {
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -10px;
  background: url('/assets/stage/switch_on 1.png') no-repeat center center;
  background-size: 40px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .25s ease-in-out;

  &:hover {
    opacity: .8;
  }
}

.wrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    font-size: 30px;
    text-align: center;
    color: #e0394c;
  }

  p {
    font-size: 22px;
  }
}

